#This is shared with other developers
#Rename this file to .env and change values to suit your environment
#Database credentials
DBHOST = "url_to_host"
DBUSER = "database_user"
DBPASSWORD = "database_password"
DBNAME = "name_of_database"
