<footer> 
    <div class="social-buttons">
        <button class="social-button instagram"><i class="fab fa-instagram"></i></button>
        <button class="social-button x"><i class="fab fa-twitter"></i></button>
        <button class="social-button tiktok"><i class="fab fa-tiktok"></i></button>
        <button class="social-button email"><i class="fas fa-envelope"></i></button>
    </div>
    <p class="copyright">All rights reserved &copy; Music Muse</p>
</footer>