<!DOCTYPE html>
<html>

{% include 'head.twig' %}

<body>
  {% include 'navigation.twig' %}
  <div class="login-container">
    <h1>Log In</h1>
    <form method="post" action="/login.php" novalidate>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="checkbox-group">
        <input type="checkbox" id="stay_signed_in" name="stay_signed_in">
        <label for="stay_signed_in">Stay signed in</label>
      </div>
      <p>Don't have an account?</p>
      <div class="button-group">
        <button class="sign-up-btn" type="button" onclick="window.location.href='sign_up.php'">Sign Up</button>
        <button class="login-btn" type="submit">Log In</button>
      </div>
    </form>
  </div>
  {% include 'footer.twig' %}
</body>

</html>