<!--   
  <nav class="navbar" style="background-color:#460618">
    <div class="nav-left">
      <img src="assets/logos/music_muse_logo.png" alt="Logo" class="logo">
      <a href="index.php" class="nav-link">Home</a>
      <a href="about.php" class="nav-link">About</a>
      <a href="browse.php" class="nav-link">Browse</a>
    </div>
    <div class="nav-right">
      <div class="search-container">
        <input type="text" placeholder="Search..." class="search-input">
        <i class="fas fa-search search-icon"></i>
      </div>
      <div class="profile-container">
        <img src="assets/icons/profile-icon.jpg" alt="Profile" class="profile-pic">
        <div class="dropdown-content">
          <a href="profile.php">My Profile</a>
          <a href="#">My Reviews</a>
          <a href="#">Favorites</a>
          <a href="login.php">Log Out</a>
        </div>
      </div>
    </div>
  </nav> -->

  <nav class="navbar" style="background-color:#460618">
    <div class="nav-left">
        <img src="assets/logos/music_muse_logo.png" alt="Logo" class="logo">
        <a href="index.php" class="nav-link">Home</a>
        <a href="about.php" class="nav-link">About</a>
        <a href="browse.php" class="nav-link">Browse</a>
    </div>
    <div class="nav-right">
        <form class="search-container" action="search_results.php" method="get">
            <input type="text" placeholder="Search..." class="search-input" name="search">
            <button type="submit" class="search-button">
               <i class="fas fa-search search-icon"></i>
            </button>
        </form>
        <!-- if the user is logged in displays their profile picture, username and dropdown menu -->
        {% if loggedin == true %}
        <div class="profile-container">
            <img src="assets/icons/profile-icon.jpg" alt="Profile" class="profile-pic">
            <div class="dropdown-content">
                <a href="profile.php">My Profile</a>
                <a href="#">My Reviews</a>
                <a href="#">Favorites</a>
                <a href="logout.php">Log Out</a>
            </div>
        </div>
        {% else %}
        <a href="login.php" class="nav-link">Log In</a>
        {% endif %}
    </div>
</nav>