  <nav class="navbar">
    <div class="nav-left">
      <img src="assets/icons/clef_logo_white-min.png" alt="Logo" class="logo">
      <span class="website-name">Music Muse</span>
      <a href="index.html" class="nav-link">Home</a>
      <a href="about.html" class="nav-link">About</a>
    </div>
    <div class="nav-right">
      <div class="search-container">
        <input type="text" placeholder="Search..." class="search-input">
        <i class="fas fa-search search-icon"></i>
      </div>
      <div class="profile-container">
        <img src="https://placekitten.com/35/35" alt="Profile" class="profile-pic">
        <div class="dropdown-content">
          <a href="#">My Profile</a>
          <a href="#">My Reviews</a>
          <a href="#">Favorites</a>
          <a href="#">Log Out</a>
        </div>
      </div>
    </div>
  </nav>