<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ page_title }}</title>
    <link rel="icon" type="image/png" src="/assets/logos/clef_logo_white.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui@4.3.0/dist/css/coreui.min.css" rel="stylesheet">
    <link href="/styles/styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@coreui/coreui@4.3.0/dist/js/coreui.bundle.min.js"></script>
    <script src="script.js"></script>
</head>

<body>
    {% include 'navigation.twig' %}
    <main>
        <!-- style this the same as browse-all -->
        <div class="search-results"> 
            <h1>Showing Results for "{{ search_term }}"</h1>
            <div class="container">
                <div class="row">
                    {{ album_cards | raw }}
                </div>
            </div>
        </div>
    </main>

    {% include 'footer.twig' %}
</body>

</html>