<!DOCTYPE html>
<html>

{% include 'head.twig' %}

<body>
    {% include 'navigation.twig' %}
    <main>
        <!-- style this the same as browse-all -->
        <div class="search-results"> 
            <h1>Showing Results for "{{ search_term }}"</h1>
            <div class="container">
                <div class="row">
                    {{ album_cards | raw }}
                </div>
            </div>
        </div>
    </main>

    {% include 'footer.twig' %}
</body>

</html>